<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>
  <h1><%= title %></h1>

  <% if (!locals.currentUser) {%>
  <a href="/signup">Sign Up</a>
  <a href="/login">Log In</a>
  <% } %>

  <%- include("partials/error.ejs") %>

  <% if (locals.currentUser) {%>
  <a href="/logout">Log Out</a>

  <!-- access: user -->
  <p>You are logged in, <%= currentUser.username %>!</p>
  <% if (!currentUser.member && !currentUser.admin) {%>
  <a href="/join">Become a Member~</a>
  <% } %>

  <!-- access: user, member -->
  <% if (currentUser.member && !currentUser.admin) {%>
  <p>You are a MEMBER of the club!</p>
  <a href="/admin">Become an Admin?!</a>
  <% } %>

  <!-- access: user, member, admin -->
  <% if (currentUser.member && currentUser.admin) {%>
  <p>All hail, the almighty ADMIN!</p>
  <% } %>

  <a href="/create">Create a Message</a>

  <% } %>

  <h2>Messageboard</h2>
  <ul>
    <% if (locals.messages) {%>

    <% for (let i = messages.length-1; i > -1; i--) { %>
    <li class="messages">

      <h3><%= messages[i].title %></h3>

      <p><%= messages[i].text %></p>

      <% if (locals.currentUser) {%>

      <!-- access: user, member -->
      <% if (currentUser.member) {%>
      <p>by <%= messages[i].username %> (<%= new Date(messages[i].timestamp).toLocaleDateString() %>)</p>
      <% } %>

      <!-- access: user, member, admin  -->
      <% if (currentUser.member && currentUser.admin) {%>
      <a href="/<%= messages[i].id %>/delete">Delete</a>
      <% } %>
    </li>
    <% } %>
    <!-- if currentUser end -->
    <% } %>
    <!-- for loop end -->
    <% } %>
    <!-- if messages end -->
  </ul>
</body>

</html>